.full-width {
    width: 100%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#article-hero {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}
#article-title {
    background-color: #00000077;
    margin: -1em;
}
.nuxt-content#article-body {
    margin-top: 400px;
    padding: 2em;
    padding-top: 5em;
    word-break: keep-all;
}

.v-application,.v-card {
    background-color: var(--v-background-base) !important;
    color: var(--v-foreground-base) !important;
}

.v-application a {
    color: var(--v-foreground-base) !important;
    text-decoration: underline;
}

.v-application a.v-btn {
    text-decoration: none!important;
}

.v-application code {
    all: unset!important;
}

.token.class-name {
    text-decoration: none;
}